# profile
export AWS_ACCESS_KEY_ID=xxxx
export AWS_SECRET_ACCESS_KEY=xxxx

# [required] Your Slack incomming message
export SLACK_INCOMMING_WEBHOOK_URL=xxxx
# [required] a message will be sent when total cost exceeds each limits
export COST_REPORT_THREASHOLDS="5,300,1000"

# optional
export AWS_REGION=us-east-1
export MESSAGE_FOR_EXCESSIVE_USAGE="<!channel> The AWS usage fee for this month has exceeded over %s USD."
export MESSAGE_FOR_MONTHLY_REPORT="<!channel> The AWS usage fee for last month is %s USD."
export SLACK_CHANNEL="#general"
export SLACK_EMOJI=":ghost:"
export SLACK_USERNAME="AWS Billing Alert Bot"
