export AWS_ACCESS_KEY_ID=xxxx
export AWS_SECRET_ACCESS_KEY=xxxx
export SLACK_INCOMMING_WEBHOOK_URL=xxxx
export COST_REPORT_THREASHOLDS="5,100,300"
export LOCALE=ja

export AWS_LAMBDA_FUNCTION_NAME=xxxx
export AWS_LAMBDA_ROLE=xxxx
export AWS_CLOUDWATCH_EVENTS=xxx
